{
  "arrowParens": "always",
  "printWidth": 85,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx"]
}
